<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.1 }}</title>
    <link rel="stylesheet" href="/static/styles/audiobook-info.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="wrapper">
        <!-- nav -->
        <div class="nav-container">
            <nav>
                <div class="logo">
                    <a href="/" aria-label="Back to Homepage">
                        <img src="/static/images/icon/logo.svg" alt="" srcset="">
                    </a>
                </div>
                <div class="list" onclick="">
                    <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M45.5625 25.3126H8.4375C7.98995 25.3126 7.56072 25.4904 7.24426 25.8068C6.92779 26.1233 6.75 26.5525 6.75 27.0001C6.75 27.4476 6.92779 27.8768 7.24426 28.1933C7.56072 28.5098 7.98995 28.6876 8.4375 28.6876H45.5625C46.0101 28.6876 46.4393 28.5098 46.7557 28.1933C47.0722 27.8768 47.25 27.4476 47.25 27.0001C47.25 26.5525 47.0722 26.1233 46.7557 25.8068C46.4393 25.4904 46.0101 25.3126 45.5625 25.3126Z"
                            fill="#F2F2F2" />
                        <path
                            d="M8.4375 15.1876H45.5625C46.0101 15.1876 46.4393 15.0098 46.7557 14.6933C47.0722 14.3768 47.25 13.9476 47.25 13.5001C47.25 13.0525 47.0722 12.6233 46.7557 12.3068C46.4393 11.9904 46.0101 11.8126 45.5625 11.8126H8.4375C7.98995 11.8126 7.56072 11.9904 7.24426 12.3068C6.92779 12.6233 6.75 13.0525 6.75 13.5001C6.75 13.9476 6.92779 14.3768 7.24426 14.6933C7.56072 15.0098 7.98995 15.1876 8.4375 15.1876Z"
                            fill="#F2F2F2" />
                        <path
                            d="M45.5625 38.8126H8.4375C7.98995 38.8126 7.56072 38.9904 7.24426 39.3068C6.92779 39.6233 6.75 40.0525 6.75 40.5001C6.75 40.9476 6.92779 41.3768 7.24426 41.6933C7.56072 42.0098 7.98995 42.1876 8.4375 42.1876H45.5625C46.0101 42.1876 46.4393 42.0098 46.7557 41.6933C47.0722 41.3768 47.25 40.9476 47.25 40.5001C47.25 40.0525 47.0722 39.6233 46.7557 39.3068C46.4393 38.9904 46.0101 38.8126 45.5625 38.8126Z"
                            fill="#F2F2F2" />
                    </svg>
                </div>

            </nav>
        </div>
        <div class="back">
            <script>
                document.write('<a href="' + document.referrer + '">Go Back</a>');
            </script>
        </div>

        <!-- upload -->

        <div class="book-upload-container">
            <div class="book-container">
                <div class="book-cover">
                    <img src="/static/uploads/{{ data.3 }}" alt="book cover">
                </div>
                <div class="right-side">
                    <div class="title-author">

                        
                        <div class="book-title">
                            <h1>{{ data.1 }}</h1> 
                            <div class="view">
                                <div class="vie">
                               <i class="fas fa-headphones-alt" ></i>11
                            </div>
                            </div>
                        </div>
                        <div class="book-author">
                            <h2>{{ data.2 }}</h2>
                        </div>
                    </div>
                    <div class="button">
                        <div class="read-button">
                            <a href="/audiobook-player-{{ data.0 }}" aria-label=""><button type="button">
                                <i class="fas fa-headphones-alt"></i>Listen
                            </button><br>
                            
                            </a>
                        </div>
                        <p>{{ data.4 }}</p>
                    </div><br>
                    <div class="chapter">
                        <a href="" class="button">
                            <b>1</b>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>