<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="frmMain" action="" method="post">
        <script language="JavaScript">
            document.onkeydown = chkEvent
            function chkEvent(e){
                var keycode;
                if (window.event) keycode = window.event.keyCode;
                else if (e) keycode = e.which;
                alert("keycod: " + keycode);

                if(keycode == "49")
                {
                    window.location = 'https://www.figma.com/';
                }
                if(keycode == "50")
                {
                    window.location = 'https://www.google.com/';
                }
            }
        </script>
    </form>
</body>
</html>