<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liré</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <!-- CSS only -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"> -->
</head>

<body>
    <header>
        <div class="nav-container">
            <div class="wrapper">
                <nav>
                    <div class="logo">
                        <!-- <img src="{{ url_for('static', filename='images/logo.svg') }}" alt=""> -->
                        <img src="/static/images/icon/logo.svg" alt="logo">
                    </div>
                    <div class="reader">
                        <a href="reader-sign-up" aria-details=""><button>Reader</button></a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="headline-container">
            <div class="wrapper">
                <h1>Enjoy your Audiobooks</h1>
            </div>
        </div>
    </header>

    <section>
        <div class="wrapper">
            <!-- new release -->
            <div class="section-title">
                <h2>New Release</h2>
            </div>
            
            <!-- books -->
            <div class="books" >
                {% for row in datas %}
                    <a href="audiobook-info/{{ row.0 }}" aria-label="audiobook name's {{ row.1 }}"> 
                        <div class="audiobooks">
                            <div class="audiobook-container"></div>
                            <div class="book-cover">
                                <img src="/static/uploads/{{ row.3 }}" alt="">
                            </div>
                            <div class="book-detail">
                                <div class="title">
                                    <h3>{{ row.1 }}</h3>
                                </div>
                                <div class="author">
                                    <h4>{{ row.2 }}</h4>
                                </div>
                                <!-- <div class="time">
                                    <h4>{{ row.3 }} min</h4>
                                </div> -->
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <!-- books -->
            <!-- new release -->
        </div>
    </section>

    <!-- line 1 -->
    <div class="wrapper">
        <div class="line"></div>
    </div>
    <!-- line 1 -->

    {% for row in datas %}
        {% if row.4 == 1 %}
    <section>
        <div class="wrapper">
            <!-- fiction -->
            <div class="section-title">
                <h2>Fiction</h2>
            </div>
            <!-- books -->
            <div class="books">
                    <a href="audiobook-info/{{ row.0 }}" aria-label="audiobook name's {{ row.1 }}">
                        <div class="audiobooks">
                            <div class="audiobook-container"></div>
                            <div class="book-cover">
                                <img src="/static/uploads/{{ row.3 }}" alt="">
                            </div>
                            <div class="book-detail">
                                <div class="title">
                                    <h3>{{ row.1 }}</h3>
                                </div>
                                <div class="author">
                                    <h4>{{ row.2 }}</h4>
                                </div>
                                <!-- <div class="time">
                                    <h4>{{ row.3 }} min</h4>
                                </div> -->
                            </div>
                        </div>
                    </a>
                </div>
                <!-- books -->
                <!-- fiction -->
            </div>
        </section>
        
        <!-- line 2 -->
        <div class="wrapper">
            <div class="line"></div>
        </div>
        <!-- line 2 -->
        {% endif %}
    {% endfor %}

    {% for row in datas %}
        {% if row.4 == 2  %}
    <section>
        <div class="wrapper">
            <!-- inspire -->
            <div class="section-title">
                <h2>Inspire</h2>
            </div>
            <!-- books -->
            <div class="books">
                    <a href="audiobook-info/{{ row.0 }}" aria-label="audiobook name's {{ row.1 }}">
                        <div class="audiobooks">
                            <div class="audiobook-container"></div>
                            <div class="book-cover">
                                <img src="/static/uploads/{{ row.3 }}" alt="">
                            </div>
                            <div class="book-detail">
                                <div class="title">
                                    <h3>{{ row.1 }}</h3>
                                </div>
                                <div class="author">
                                    <h4>{{ row.2 }}</h4>
                                </div>
                                <!-- <div class="time">
                                    <h4>{{ row.3 }} min</h4>
                                </div> -->
                            </div>
                        </div>
                    </a>
                </div>
                <!-- books -->
                <!-- inspire -->
            </div>
        </section>
        
        <!-- line 3 -->
        <div class="wrapper">
            <div class="line"></div>
        </div>
        <!-- line 3 -->
        {% endif %}
    {% endfor %}

    {% for row in datas %}
        {% if row.4 == 3 %}
    <section>
        <div class="wrapper">
            <!-- general -->
            <div class="section-title">
                <h2>General</h2>
            </div>
            <!-- books -->
            <div class="books">
                    <a href="audiobook-info/{{ row.0 }}" aria-label="audiobook name's {{ row.1 }}">
                        <div class="audiobooks">
                            <div class="audiobook-container"></div>
                            <div class="book-cover">
                                <img src="/static/uploads/{{ row.3 }}" alt="">
                            </div>
                            <div class="book-detail">
                                <div class="title">
                                    <h3>{{ row.1 }}</h3>
                                </div>
                                <div class="author">
                                    <h4>{{ row.2 }}</h4>
                                </div>
                                <!-- <div class="time">
                                    <h4>{{ row.3 }} min</h4>
                                </div> -->
                            </div>
                        </div>
                    </a>
                </div>
                <!-- books -->
                <!-- general -->
            </div>
        </section>
        {% endif %}
    {% endfor %}
        
    <footer>
        <div class="wrapper">
            <p style="color: aliceblue;">Thanks</p>
        </div>
    </footer>
</body>

</html>