<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liré</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <!-- CSS only -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"> -->
</head>

<body>
    <header>
        <div class="nav-container">
            <div class="wrapper">
                <nav>
                    <div class="logo">
                        <!-- <img src="{{ url_for('static', filename='images/logo.svg') }}" alt=""> -->
                        <img src="/static/images/icon/logo.svg" alt="">
                    </div>
                </nav>
            </div>
        </div>
        <div class="header-container">
            <div class="wrapper">
                <!-- sign in and sign up -->
                <div class="sign-up-sing-in">
                    <button class="sign-up" onclick="signUpTogglePopup()">SIGN UP</button>
                    <button class="sign-in" onclick="signInTogglePopup()">SIGN IN</button>
                </div>

                <!-- sign up -->
                <div class="popup" id="popup-1">
                    <div class="content">
                        <div class="close-btn" onclick="signUpTogglePopup()">X</div>
                        <h1>SIGN UP</h1>
                        <form action="" method="post">
                            <div class="input-field">
                                <label for="first-name">First Name</label><br>
                                <input type="text" placeholder="Enter your first name" name="fName" id="first-name"
                                    required>
                            </div>
                            <div class="input-field">
                                <label for="last-name">Last Name</label><br>
                                <input type="text" placeholder="Enter your last name" name="lName" id="last-name"
                                    required>
                            </div>
                            <div class="input-field">
                                <label for="email">Email</label><br>
                                <input type="email" placeholder="Enter your email address " name="email" id="email"
                                    required>
                            </div>
                            <div class="input-field">
                                <label for="password">Password</label><br>
                                <input type="password" placeholder="Enter your password" name="pass" id="password"
                                    required>
                            </div>
                            <button type="submit" class="second-button">
                                submit
                            </button>
                        </form>
                        <p>Already have an account?
                            <a href="#">Sign In</a>
                        </p>
                    </div>
                </div>
                <!-- sign up -->

                <!-- sign in -->
                <div class="popup" id="popup-2">
                    <div class="content">
                        <div class="close-btn" onclick="signInTogglePopup()">X</div>
                        <h1>SIGN IN</h1>
                        <div class="input-field">
                            <label for="email">Email</label><br>
                            <input type="email" placeholder="Enter your email address " name="" id="" class="validate">
                        </div>
                        <div class="input-field">
                            <label for="password">Password</label><br>
                            <input type="password" placeholder="Enter your password" name="" id="" class="validate">
                        </div>
                        <button type="submit" class="second-button">
                            submit
                        </button>
                        <p>Don't have an account?
                            <a href="#">Sign Up</a>
                        </p>
                    </div>
                </div>
                <!-- sign in -->


                <script>

                    function signUpTogglePopup() {
                        document.getElementById("popup-1")
                            .classList.toggle("active");
                    }

                    function signInTogglePopup() {
                        document.getElementById("popup-2")
                            .classList.toggle("active");
                    }

                </script>
                <!-- sign in and sign up -->
            </div>
        </div>
    </header>

    <section>
        <div class="wrapper">
            <!-- new release -->
            <div class="section-title">
                <h1>New Release</h1>
            </div>
            
            <!-- books -->
            <div class="books" >
                {% for row in datas %}
                    <a href="audiobook-info/{{ row.0 }}">
                        <div class="audiobooks">
                            <div class="audiobook-container"></div>
                            <div class="book-cover">
                                <img src="/static/uploads/{{ row.4 }}" alt="">
                            </div>
                            <div class="book-detail">
                                <div class="book-title">
                                    <h2>{{ row.1 }}</h2>
                                </div>
                                <div class="reader-name">
                                    <h3>{{ row.2 }}</h3>
                                </div>
                                <div class="time">
                                    <h3>{{ row.3 }} min</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <!-- books -->
            <!-- new release -->
        </div>
    </section>

    <!-- line 1 -->
    <div class="wrapper">
        <div class="line"></div>
    </div>
    <!-- line 1 -->

    <section>
        <div class="wrapper">
            <!-- fiction -->
            <div class="section-title">
                <h1>Fiction</h1>
            </div>
            <!-- books -->
            <div class="books">
                {% for row in datas %}
                    {% if row.5 == 1 %}
                    <a href="audiobook-info/{{ row.0 }}">
                        <div class="audiobooks">
                            <div class="audiobook-container"></div>
                            <div class="book-cover">
                                <img src="/static/uploads/{{ row.4 }}" alt="">
                            </div>
                            <div class="book-detail">
                                <div class="book-title">
                                    <h2>{{ row.1 }}</h2>
                                </div>
                                <div class="reader-name">
                                    <h3>{{ row.2 }}</h3>
                                </div>
                                <div class="time">
                                    <h3>{{ row.3 }} min</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- books -->
            <!-- fiction -->
        </div>
    </section>

    <!-- line 2 -->
    <div class="wrapper">
        <div class="line"></div>
    </div>
    <!-- line 2 -->

    <section>
        <div class="wrapper">
            <!-- inspire -->
            <div class="section-title">
                <h1>Inspire</h1>
            </div>
            <!-- books -->
            <div class="books">
                {% for row in datas %}
                    {% if row.5 == 2  %}
                    <a href="audiobook-info/{{ row.0 }}">
                        <div class="audiobooks">
                            <div class="audiobook-container"></div>
                            <div class="book-cover">
                                <img src="/static/uploads/{{ row.4 }}" alt="">
                            </div>
                            <div class="book-detail">
                                <div class="book-title">
                                    <h2>{{ row.1 }}</h2>
                                </div>
                                <div class="reader-name">
                                    <h3>{{ row.2 }}</h3>
                                </div>
                                <div class="time">
                                    <h3>{{ row.3 }} min</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- books -->
            <!-- inspire -->
        </div>
    </section>

    <!-- line 3 -->
    <div class="wrapper">
        <div class="line"></div>
    </div>
    <!-- line 3 -->

    <section>
        <div class="wrapper">
            <!-- general -->
            <div class="section-title">
                <h1>General</h1>
            </div>
            <!-- books -->
            <div class="books">
                {% for row in datas %}
                    {% if row.5 == 3 %}
                    <a href="audiobook-info/{{ row.0 }}">
                        <div class="audiobooks">
                            <div class="audiobook-container"></div>
                            <div class="book-cover">
                                <img src="/static/uploads/{{ row.4 }}" alt="">
                            </div>
                            <div class="book-detail">
                                <div class="book-title">
                                    <h2>{{ row.1 }}</h2>
                                </div>
                                <div class="reader-name">
                                    <h3>{{ row.2 }}</h3>
                                </div>
                                <div class="time">
                                    <h3>{{ row.3 }} min</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- books -->
            <!-- general -->
        </div>
    </section>

    <footer>
        <div class="wrapper">
            <p style="color: aliceblue;">fsdkaghjjkasjgklasgjkl</p>
        </div>
    </footer>
</body>

</html>