<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="/static/styles/{% block css %}{% endblock css %}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"> -->
</head>

{% block body %} 
{% endblock %}

</html>


<!-- {% extends 'layout.html' %}

{% block title %}book-unknown{% endblock title %}

{% block css %}reader-book-upload.css{% endblock css %}

{% block body %} -->