<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/reader-sign-up.css">
    <title>Sign In</title>
</head>

<body>

    <div class="wrapper">
        <div class="sign-in-container" aria-label="sign in box">
            <header>
                <h1>SIGN IN</h1>
                <form action="" method="post">
                    <div class="input-field">
                        <label for="email">Email</label><br>
                        <input type="email" placeholder="Enter your email address " name="email" id="email">
                    </div>
                    <div class="input-field">
                        <label for="password">Password</label><br>
                        <input type="password" placeholder="Enter your password" name="pass" id="password">
                    </div>
                    <div class="button">
                        <button type="submit" class="second-button">
                            submit
                        </button>
                    </div>
                </form>
                <!-- <p>Already have an account?
                    <a href="#">Sign Up</a>
                </p> -->
            </header>
        </div>
    </div>
</body>

</html>