<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/result.css">
    <title>Failed</title>
</head>

<body>
    <header>
        <div class="nav-container">
            <div class="wrapper">
                <nav>
                    <div class="logo">
                        <a href="{{ url_for('reader_homepage') }}" aria-label="Back to Homepage">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000" class="logo-svg">
                                <path class="cls-1"
                                    d="M30,0.518H214.3a30,30,0,0,1,30,30V1970.93a30,30,0,0,1-30,30H30a30,30,0,0,1-30-30V30.518A30,30,0,0,1,30,.518Z" />
                                <path class="cls-1"
                                    d="M527.5,494.479h189.99a30,30,0,0,1,30,30V1970.52a30,30,0,0,1-30,30H527.5a30,30,0,0,1-30-30V524.479A30,30,0,0,1,527.5,494.479Z" />
                                <path class="cls-1"
                                    d="M1031.01-3.012h184.98a30,30,0,0,1,30,30v1941a30,30,0,0,1-30,30H1031.01a30,30,0,0,1-30-30v-1941A30,30,0,0,1,1031.01-3.012Z" />
                                <path class="cls-1"
                                    d="M1530.5,501.576h189a30,30,0,0,1,30,30V1970.42a30,30,0,0,1-30,30h-189a30,30,0,0,1-30-30V531.576A30,30,0,0,1,1530.5,501.576Z" />
                                <path class="cls-1"
                                    d="M1498.99-1.541l-0.16,247.531-469.85-.457A30.015,30.015,0,0,1,999,215.5l0.117-187.531A29.986,29.986,0,0,1,1029.13-2Z" />
                                <path class="cls-1"
                                    d="M2000,532.46l-0.12,187.582a29.986,29.986,0,0,1-30.01,29.971l-438.9-.428a30.018,30.018,0,0,1-29.98-30.03l0.12-187.581A29.987,29.987,0,0,1,1531.13,502l438.89,0.428A30.011,30.011,0,0,1,2000,532.46Z" />
                                <path class="cls-1"
                                    d="M1771.69,96.44L1905.2,229.988a29.983,29.983,0,0,1-.02,42.411L1750.54,426.765l-175.93-175.98L1729.25,96.419A30.024,30.024,0,0,1,1771.69,96.44Z" />
                                <path class="cls-1"
                                    d="M1999.47,1156.25l-0.12,188.98a29.994,29.994,0,0,1-30.01,29.97l-437.84-.43a30.019,30.019,0,0,1-29.98-30.03l0.12-188.98a29.983,29.983,0,0,1,30.02-29.97l437.83,0.43A30.007,30.007,0,0,1,1999.47,1156.25Z" />
                                <path class="cls-1"
                                    d="M2000,1782.46l-0.12,187.58a29.981,29.981,0,0,1-30.01,29.97l-438.9-.42a30.026,30.026,0,0,1-29.98-30.03l0.12-187.59a29.99,29.99,0,0,1,30.02-29.97l438.89,0.43A30.013,30.013,0,0,1,2000,1782.46Z" />
                                <path class="cls-1"
                                    d="M528-2H718.013a30,30,0,0,1,30,30V215.992a30,30,0,0,1-30,30H528a30,30,0,0,1-30-30V28A30,30,0,0,1,528-2Z" />
                            </svg>
                        </a>
                    </div>
                </nav>
            </div>
        </div>

        <div class="result">
            <div class="wrapper">
                <div class="result-container">
                    <div class="logopass">
                        <img src="/static/images/16 1.png" alt="">
                    </div>
                    <div class="container"> <br>
                    
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                            <span class="sr-only">70% Complete</span>
                            
                          </div>
                        </div>
                      </div>
                    <div class="message">
                        <h1>Please try again</h1>
                        <h2>The audio does not match the original</h2>
                    </div>
                </div> 
            </div>
        </div>


    </header>
</body>

</html>