{% extends 'layout.html' %}

{% block title %}Liré - Sign Up{% endblock title %}
{% block css %}style.css{% endblock css %}

{% block body %}

    <div class="wrapper">
        <div class="sign-up-container">
            <div class="content">
                <header>
                    <h1>SIGN UP</h1>
                    <form action="" method="post">
                        <div class="input-field">
                            <label for="first-name">First Name</label><br>
                            <input type="text" placeholder="Enter your first name" name="fName" id="first-name">
                        </div>
                        <div class="input-field">
                            <label for="last-name">Last Name</label><br>
                            <input type="text" placeholder="Enter your last name" name="lName" id="last-name">
                        </div>
                        <div class="input-field">
                            <label for="email">Email</label><br>
                            <input type="email" placeholder="Enter your email address " name="email" id="email">
                        </div>
                        <div class="input-field">
                            <label for="password">Password</label><br>
                            <input type="password" placeholder="Enter your password" name="pass" id="password">
                        </div>
                        <button type="submit" class="second-button">
                            submit
                        </button>
                    </form>
                    <p>Already have an account?
                        <a href="#">Sign In</a>
                    </p>
                </header>
            </div>
        </div>
        
    </div>

    
    {% endblock body %}
    