<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/upload.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo"></div>
        </nav>
        <h1>Category</h1>
        <form action="{{ url_for('insert') }}" method="post">
            <div class="category">
                <input type="radio" name="category" for="fiction"> </input><br><br>
                <input type="radio" name="category" for="inspire"></input><br><br>
                <input type="radio" name="category" for="general"></input><br><br>
            </div>
            <div class="container">

                <div class="upload">
                    <div class="imagefile">
                        <input type="file" name="imagefile" class="inputfile">
                        <label for="file">
                            <img src="/static/images/1.jpg" alt="">
                        </label>
                    </div>

                    <div class="bookfile">
                        <input type="file" name="bookfile" class="inputfile">
                        <label for="file">
                            <img src="/static/images/file.jpg" alt="">
                        </label>
                    </div>
                </div>

                <div class="box">
                    <div class="name">
                        Name :
                        <input type="text" name="bookname">
                    </div>
                    <div class="Author">
                        Author :
                        <input type="text" name="authorname">
                    </div>
                </div>
                <div class="mainstory">
                    <div class="story">
                        <label for="">Story : </label> 
                        <textarea name="story" rows="4" cols="50">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="mainsubmit">
                <input type="submit">
            </div>
            
            
        </form>

    </header>
</body>

</html>