@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: #000000;
    font-family: "Roboto", sans-serif;
    background-color: #F2F2F2;
}



.wrapper {
    position: relative;
    max-width: 1058px;
    margin: 0 auto;
    transition: 0.5s;
}

.wrapper#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

/* Nav */
nav {
    display: flex;
    align-items: center;
    height: 94px; 
}

.list {
    margin-left: auto;
    cursor: pointer;
}

.logo img{
    height: 50px;
    margin-right: auto;
}




.book-container {
    margin-top: 150px;
    width: 1060px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.09);
    border-radius: 30px;
    display: flex;
}

.book-cover {
    margin: 0 50px;
    /* position: relative; */
    /* margin: 60px; */
    width: 368px;
    height: 541px;
}

.book-cover img {
    top: 150px;
    position: absolute;
    background: #C4C4C4;
    border-radius: 25px 25px 10px 10px;
    box-shadow: 0px 4px 28px 10px rgba(0, 0, 0, 0.14);
    width: 368px;

}

.right-side {
    margin: auto 0;
    width: 540px;
    height: 400px;
    /* background-color: red; */
}
.book-title{
    display: flex;
    justify-content: space-between;
}


.book-title h1{
    font-size: 3rem;
}

.book-author h2{
    margin-bottom: 20px;
    color: #737373;
    font-size: 2rem;
}

.book-description p{
    margin-top: 20px;
    word-wrap: break-word;
    color: #1a1a1a;
    /* background-color: rosybrown; */
    padding-right: 10px;
}


.button button{
    color: #FFFFFF;
    margin-bottom: 24px;
    width: 190px;
    height: 58px;
    background: #000000;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 16px;
    font-size: 2rem;
    padding: 5px 3px;
}
.chapter a{
    margin-right: 10px;
    font-size: 2rem;
    
}

.view .views{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #FFFFFF;
    margin-bottom: 4px;
    width: 100px;
    height: 50px;
    background: #000000;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 1.5rem;
    
}
a.button{
    background-color: #000000;
    color: #FFFFFF;
    margin-bottom: 24px;
    width: 107px;
    height: 38px;
    background: #000000;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 5px 38px;
    text-decoration: none;
}

.listen-button a {
    font-size: 2rem;
}