
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
  background-color: #000;
}

.logo .logo-svg {
  height: 50px;
  margin-right: auto;
}

.logo .cls-1 {
  fill: #F2F2F2;
  fill-rule: evenodd;
}
.wrapper {
    max-width: 1058px;
    margin: 0 auto;
}
nav {
    display: flex;
    align-items: center;
    height: 94px;
}

.audiobooks {
    max-width: 940px;
    margin: 0 auto;
    
    

  }
.audiobook-container {
    
    bottom: 0px;
    width: 879px;
    height: 550px;
    background: #2C2C2C;
    border-radius: 22px;
    box-shadow: 0px 4px 41px rgba(255, 255, 255, 0.13);
    
    
  }
  .logopass {
    padding: 130px 340px 0 340px;
  }
  h1{
    color: rgb(234, 240, 238);
    padding: 0px 278px;
  }


 

