@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    background-color: #161616;
}



.wrapper {
    position: relative;
    max-width: 1058px;
    margin: 0 auto;
    transition: 0.5s;
}

.wrapper#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

/* Nav */
nav {
    display: flex;
    align-items: center;
    height: 94px; 
}

.list {
    margin-left: auto;
    cursor: pointer;
}

.logo .logo-svg {
    height: 50px;
    margin-right: auto;
}

.logo .cls-1 {
    fill: #F2F2F2;
    fill-rule: evenodd;
  }


.book-container {
    margin-top: 150px;
    width: 1060px;
    /* height: 508px; */
    background: #000000;
    box-shadow: 0px 4px 41px rgba(255, 255, 255, 0.09);
    border-radius: 30px;
    display: flex;
}

.book-cover {
    margin: 0 50px;
    /* position: relative; */
    /* margin: 60px; */
    width: 368px;
    height: 541px;
}

.book-cover img {
    top: 150px;
    position: absolute;
    background: #C4C4C4;
    border-radius: 25px 25px 10px 10px;
    width: 368px;

}

.right-side {
    margin: 45px 0 30px 0;
    width: 540px;
    /* background-color: red; */
}


.book-description p{
    word-wrap: break-word;
    color: #D3D3D3;
    /* background-color: rosybrown; */
    padding-right: 10px;
}


.button button{
    margin-bottom: 24px;
    width: 190px;
    height: 58px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 16px;
    font-size: 2rem;
    padding: 5px 3px;
}


.back a{
    color: #ffffff;
}

.ButtonChapter {
    display: flex;
}

.ButtonChapter button{

    width: 68px;
    height: 64px;
    font-size: 36px;
    background: #C8C8C8;
    box-shadow: 0px 4px 10px 1px rgba(255, 255, 255, 0.25);
    border-radius: 11px;

}

/* .reserve-button {
    width: auto;
} */

a.button {
    display: inline-block;
    justify-content: space-between;
    background: #ffffff;
    /* background: rgba(255, 232, 172, 0.99); */
    margin-bottom: 24px;
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    padding: 5px 15px;
    border: none;
    transition: .3s ease-in-out ;
}



a.chapter {
    border-radius: 31px 0 0 31px;
    width: 80%;
}


a.reserve, .delete {
    border-radius: 0 31px 31px 0;
    text-align: end;
    width:19%;
}

a.button:hover {
    background: rgba(129, 129, 129, 0.99);
    
}

.button {
    display: inline-block;
    justify-content: space-between;
    background: #585858;
    /* background: rgba(255, 232, 172, 0.99); */
    margin-bottom: 24px;
    text-decoration: none;
    color: #A7A7A7;
    font-size: 2rem;
    padding: 5px 15px;
    border: none;
    transition: .3s ease-in-out ;
}

.chapter{
    border-radius: 31px;
    width: 100%;
    font-size: 24px;
}

a.noAudio {
    background-color: #585858;
}

.top {
    display: flex;
    justify-content: space-between;
}

.book-title {
    width: 70%;
}