@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background: #161616;
}

body::after .popup.active{
    position:absolute;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    content:"";
    pointer-events: none;
    z-index:100;
    opacity: .5

}

.wrapper {
    max-width: 1058px;
    margin: 0 auto;
}

/* Nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 94px;
}

/* .nav-container {
    height: 94px;
} */

.logo svg {
    height: 3.125rem;
    width: auto;
}

.back a{
    text-decoration: underline;
    color: #ffffff; 
}


.reader button {
    font-size: 1.5rem;
    color: #FFFFFF;
    background-color: #000000;
    padding: .6rem 1rem;
    border: none;
    /* border-radius: 0.5rem; */
}

.headline-container {
    text-align: center;
    margin: 100px 0;
}

.headline-container h1 {
    color: #FFFFFF;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.audiobooks {
    position: relative;
    width: 227px;
    height: 365px;
    margin: 0 0px 50px 00px;
  }
  
.audiobook-container {
    position: absolute;
    bottom: 0px;
    width: 227px;
    height: 290.87px;
    background-color: #ffff;
    box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.09);
    border-radius: 30px;
  }
  
.book-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    width: 181.25px;
    height: 251.17px;
}
  
.book-cover img {
    width: 100%;
    height:100%;
    border-radius: 17px 17px 5px 5px;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.3);
}
  
.play-icon {
    position: absolute;
}
  
#time-3-icon {
    fill: rgb(255, 255, 255);
}

.book-detail {
    
    position: relative;
    margin: auto;
    width: 181.25px;
}
  
h3{
    margin-top: 15px; 
    
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none; /* no underline */
  }

h4 {

    color: #737373;
}

/* .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
} */


.section-title {
    margin: 110px 0;
    text-align: center;
}

.section-title h1 {
    font-size: 48px;
    color: #3F3F3F;
}



.line {
    margin: 90px 0;
    width: 1060px;
    border: 1px solid #C4C4C4;
    border-radius: 100px;
}

footer {
    margin-top: 90px;
    height: 258px;
    background-color: #000000;
}

h2{
    color: #ffffff;
}