
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
  background-color: #000;
}

.logo .logo-svg {
  height: 50px;
  margin-right: auto;
}

.logo .cls-1 {
  fill: #F2F2F2;
  fill-rule: evenodd;
}

.wrapper {
  max-width: 1058px;
  margin: 0 auto;
}
nav {
  display: flex;
  align-items: center;
  height: 94px;
}

.result-container {
  margin: auto;
  bottom: 0px;
  width: 879px;
  height: 550px;
  background: #2C2C2C;
  border-radius: 22px;
  box-shadow: 0px 4px 41px rgba(255, 255, 255, 0.13);
}
  
.logopass {
  padding: 130px 340px 0 340px;
}

.message {
    color: #ffffff;
    text-align: center;
}

/* h1{
  color: rgb(234, 240, 238);
  padding: 0px 278px;
} */
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #e1e2e2;
  -webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
.progress-bar span{
 color: #000;
 font-size: 110%;

}
.progress {
  height: 46px;
  width: 400px;
  margin:auto;
  overflow: hidden;
  background-color: #696969;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  line-height: 20px;
  color: #fff;
  padding-top: 12px;
  background-color: #e1e2e2;
  -webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
.progress-bar span{
  color: #000;
  font-size: 110%;
  align-items: center;
}
.progress {
  height: 46px;
  width: 400px;
  margin:auto;
  overflow: hidden;
  background-color: #696969;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}


